node_modules
build
ex
# exclude everything inside thumb folder
assets/thumb/*

# exception to the rule
!assets/thumb/.gitkeep 

# exclude everything inside full folder
assets/full/*

# exception to the main image to be tested
!assets/full/image.jpeg